/* Display as Flex Box */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/* Resume Page */
/* Set Width to Make resume fit to A$ Display */
.resume {
  max-width: 842px;
  margin: auto; }
  .resume h2 {
    margin: 0 0 10px 0;
    text-decoration: underline; }

.section {
  margin-bottom: 10px; }

.resume-education .resume-education__title {
  margin: 0 0 10px 0; }

.resume-education .resume-education__item {
  margin-top: 10px; }
  .resume-education .resume-education__item * {
    margin: 0;
    font-size: 14px; }

.resume-header {
  margin-bottom: 20px; }
  .resume-header .resume-header__name {
    margin-top: 0;
    margin-bottom: 10px; }

.resume-references {
  max-width: 742px;
  margin: auto;
  font-size: 12px; }
  .resume-references .resume-references__title {
    text-align: center; }
  .resume-references .resume-references__item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .resume-references .resume-references__item .resume-references__name {
      width: 200px; }
    .resume-references .resume-references__item .resume-references__position {
      width: 300px; }
    .resume-references .resume-references__item .resume-references__email {
      width: 200px; }
    .resume-references .resume-references__item .resume-references__phone {
      -webkit-flex-basis: 20%;
      -moz-flex-basis: 20%;
      -ms-flex-basis: 20%;
      flex-basis: 20%; }

.resume-experience .resume-experience__title {
  margin-top: 0; }

.resume-experience-list {
  margin: 10px 0; }
  .resume-experience-list .resume-experience-list__item {
    font-size: 14px;
    margin-bottom: 5px; }

.resume-content .resume-content__col-1 {
  -webkit-flex-basis: 400px;
  -moz-flex-basis: 400px;
  -ms-flex-basis: 400px;
  flex-basis: 400px;
  padding-right: 20px;
  border-right: 1px solid #98baf2; }

.resume-content .resume-content__col-2 {
  padding-left: 20px;
  border-left: 1px solid #98baf2; }
