/* Display as Flex Box */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/* Resume Page */
/* Set Width to Make resume fit to A$ Display */
.resume {
  max-width: 842px;
  margin: auto; }

.resume-header {
  margin-bottom: 30px;
  text-align: center; }

.resume-references {
  max-width: 742px;
  margin: auto; }
  .resume-references .resume-references__title {
    text-align: center; }
  .resume-references .resume-references__item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .resume-references .resume-references__item .resume-references__name {
      -webkit-flex-basis: 20%;
      -moz-flex-basis: 20%;
      -ms-flex-basis: 20%;
      flex-basis: 20%; }
    .resume-references .resume-references__item .resume-references__position {
      -webkit-flex-basis: 30%;
      -moz-flex-basis: 30%;
      -ms-flex-basis: 30%;
      flex-basis: 30%; }
    .resume-references .resume-references__item .resume-references__email {
      -webkit-flex-basis: 30%;
      -moz-flex-basis: 30%;
      -ms-flex-basis: 30%;
      flex-basis: 30%; }
    .resume-references .resume-references__item .resume-references__phone {
      -webkit-flex-basis: 20%;
      -moz-flex-basis: 20%;
      -ms-flex-basis: 20%;
      flex-basis: 20%; }
