/* Display as Flex Box */
* {
      margin: 0;
      padding: 0;
      font-family: Arial, serif;
}


body{
      margin: 0;
}

.header {
      background-color: $global__color--blue;
      color: $global__color--white;
      &__link{
            font-size: $global__font-size--3;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-right: 20px;
      }
}

.footer{
      background-color: $global__color--blue;
      color: $global__color--white;
}

.section{
      &__title{
            color: $global__color--blue;
            text-align: center;
      }
      &__sub-title{
            color: $global__color--blue;
            text-align: center;
      }
}