h1{
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: lighter;
      font-size: $global__font-size--7;
}

h2{
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: lighter;
      font-size: $global__font-size--6;
}

h3{
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: lighter;
      font-size: $global__font-size--4;
}