.resume-education{
     $id: &;

      #{$id}__title{
            margin:0 0 10px 0;
      }

      #{$id}__item{
            margin-top: 10px;
            * {
                  margin: 0;
                  font-size: $font-size-small;
            }
      }
}