.resume-references{
      $id:&;
      max-width: $resume-max-width - 100px;
      margin: auto;
      font-size: 12px;

      #{$id}__title{
            text-align: center;
      }

      #{$id}__item{
            @include flexbox();

            #{$id}__item-cell{
            }

            #{$id}__name{
                  //@include flex-basis(10%);
                  width: 200px;
            }

            #{$id}__position{
                  //@include flex-basis(30%);
                  width: 200px;
            }

            #{$id}__email {
                  //@include flex-basis(30%);
                  width: 200px;
            }

            #{$id}__phone{
                  @include flex-basis(20%);

            }
      }
}